html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
    font-size: 1.3em;
    line-height: 1.25;
}

section,
header,
footer {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bangers", "Open Sans", Helvetica, Verdana, sans-serif;
    margin: 0;
    margin-top: 1em;
}

strong {
    font-family: "Bangers", "Open Sans", Helvetica, Verdana, sans-serif;
}

header {
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000000;
    background-color: #ff9400;
    background-repeat: no-repeat;
    background-image: url("/resources/image/background/1024px-19273986309_0ccc29f175_o.jpg");
    background-size: cover;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.small {
    font-size: 0.5em;
}

header,
header a {
    color: #ffffff;
    text-decoration: none;
}

header h1 {
    line-height: 1em;
    padding-top: 0;
    margin-top: 0;
}

section:nth-of-type(even) {
    background-color: #f8f8f8;
}

article {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

article:nth-of-type(even) {
    background-color: #f8f8f8;
}

footer {
    background-color: #eaeaea;
    padding-top: 5em;
    padding-bottom: 5em;
}

footer img {
    max-width: 32px;
    vertical-align: middle;
}

h1 small,
h2 small,
h3 small {
    font-size: 0.5em;
    color: grey;
}

abbr {
    border-bottom: 1px dotted grey;
    cursor: help;
}

.two-columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -o-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    -moz-column-width: 500px;
    -webkit-column-width: 500px;
    -o-column-width: 500px;
    -ms-column-width: 500px;
    column-width: 500px;
}

@media (min-width: 1200px) {
    .columns.two .column {
        width: 50%;
    }
    .columns.two .column.left {
        float: left;
    }
    .columns.two .column.right {
        float: right;
    }
}

.clear {
    clear: both;
}

ul.inline {
    padding: 0;
    margin: 0;
}

ul.inline li {
    display: inline-block;
}

ul.inline li:before {
    content: '\2022';
    margin-left: 0.5em;
    margin-right: 0.5em;
}

ul.inline li:first-of-type:before {
    display: none;
}

aside {
    position: relative;
}

aside .social-container {
    padding: 50px;
}

aside .social-count:before {
    display: none;
}

@keyframes bouncebottom {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(3px);
    }
    50% {
        transform: translateY(1px);
    }
    60% {
        transform: translateY(3px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.bouncebottom {
    animation: bouncebottom 3s infinite;
}

@keyframes bounceleft {
    0% {
        margin-left: 3px;
        margin-right: 3px;
    }
    20% {
        margin-left: 3px;
        margin-right: 3px;
    }
    40% {
        margin-left: 0px;
        margin-right: 6px;
    }
    50% {
        margin-left: 2px;
        margin-right: 4px;
    }
    60% {
        margin-left: 0px;
        margin-right: 6px;
    }
    80% {
        margin-left: 3px;
        margin-right: 3px;
    }
    100% {
        margin-left: 3px;
        margin-right: 3px;
    }
}

.bounceleft {
    animation: bounceleft 3s infinite;
}

#live-example-notice {
    font-family: "Bangers", "Open Sans", Helvetica, Verdana, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#live-example-notice:before {
    content: '↓';
    font-size: 0.75em;
    margin-right: 0.33em;
    display: inline-block;
    animation: bouncebottom 3s infinite;
}

@media (min-width: 850px) {
    #live-example-notice {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 1em;
        margin-left: 100px;
    }
    #live-example-notice:before {
        content: '←';
        animation: bounceleft 3s infinite;
    }
}